{% extends "base.html" %}
{% load static %}

{% block 'head' %}
  <link rel="stylesheet" type="text/css" href="{% static 'campaigns_app/css/class-list.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'campaigns_app/css/modal/add-class.css' %}">
  <link rel="shortcut icon" href="https://i.imgur.com/cwTGnjY.png" type="image/x-icon">
  <title>Classes | {{campaign.title}}</title>
{% endblock 'head' %}
{% block 'body' %}
<section class="addClassModal">
  <div class="modal">
    <h2>Adicionar classe</h2>
    <form method="POST" action="{% url 'campaigns:create_class' campaign.id %}">
      {% csrf_token %}
      <div class="classNameContainer">
        <label for="className">Nome da classe:</label>
        <input type="text" name="className">
      </div>

      <div class="classRoleContainer">
        <p>Papel da classe:</p>

        <div class="spellDamageContainer">
          <input type="checkbox" name="role" id="spellDamage" value="spell_damage" >
          <label for="spellDamage">Dano de magia</label>
        </div>

        <div class="physicalDamageContainer">
          <input type="checkbox" name="role" id="physicalDamage" value="physical_damage">
          <label for="physicalDamage">Dano físico</label>
        </div>

        <div class="supportContainer">
          <input type="checkbox" name="role" id="support" value="support">
          <label for="support">Suporte</label>
        </div>

        <div class="tankContainer">
          <input type="checkbox" name="role" id="tank" value="tank">
          <label for="tank">Tanque</label>
        </div>
      </div>

      <div class="actions">
        <button type="button" id="cancelAddClassModal">
          Cancelar
        </button>
        <button type="submit">
          Adicionar
        </button>
      </div>
    </form>
  </div>
</section>

<section class="classList">
  
    <div class="sideBySide">
      <a href="{% url 'campaigns:view_campaign' campaign.id %}" class="back">
        <i data-lucide="circle-arrow-left"></i>
      </a>
      <h1>
        Classes | {{campaign.title}}
      </h1>
    </div>

    <div class="classTable">
        <div>
            <h3>Classes</h3>

            <button class="addClass">
              <i data-lucide="plus"></i> 
            </button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Nº de Jogadores</th>
                    <th>Papel</th>
                </tr>
            </thead>
            <tbody>
                {% for class in classes %}
                    <tr>
                        <td>{{ class.name }}</td>
                        <td>
                          <i data-lucide="users"></i> 
                          <p>1</p>
                        </td> 
                        <td>
                            {% if 'spell_damage' in class.roles %}
                              <i data-lucide="wand"></i>
                            {% endif %}

                            {% if 'physical_damage' in class.roles %}
                              <i data-lucide="sword"></i>
                            {% endif %}

                            {% if 'support' in class.roles %}
                              <i data-lucide="cross"></i>
                            {% endif %}

                            {% if 'tank' in class.roles %}
                              <i data-lucide="shield"></i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{% static 'campaigns_app/js/class.js' %}"></script>
</section>
{% endblock 'body' %}