{% extends "base.html" %}
{% load static %}

{% block 'head' %}
  <link rel="stylesheet" type="text/css" href="{% static 'campaigns_app/css/class-list.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'campaigns_app/css/modal/class-modals.css' %}">
  <link rel="shortcut icon" href="https://i.imgur.com/cwTGnjY.png" type="image/x-icon">
  <title>Classes | {{campaign.title}}</title>
{% endblock 'head' %}
{% block 'body' %}
<section class="addClassModal">
  <div class="modal">
    <h2>Adicionar classe</h2>
    <form method="POST" action="{% url 'campaigns:create_class' campaign.id %}">
      {% csrf_token %}
      <div class="classNameContainer">
        <label for="className">Nome da classe:</label>
        <input type="text" name="className">
      </div>

      <div class="classRoleContainer">
        <p>Papel da classe:</p>

        <div class="spellDamageContainer">
          <input type="checkbox" name="role" id="spellDamage" value="spell_damage" >
          <label for="spellDamage">Dano de magia</label>
        </div>

        <div class="physicalDamageContainer">
          <input type="checkbox" name="role" id="physicalDamage" value="physical_damage">
          <label for="physicalDamage">Dano físico</label>
        </div>

        <div class="supportContainer">
          <input type="checkbox" name="role" id="support" value="support">
          <label for="support">Suporte</label>
        </div>

        <div class="tankContainer">
          <input type="checkbox" name="role" id="tank" value="tank">
          <label for="tank">Tanque</label>
        </div>
      </div>

      <div class="actions">
        <button type="button" id="cancelAddClassModal">
          Cancelar
        </button>
        <button type="submit">
          Adicionar
        </button>
      </div>
    </form>
  </div>
</section>

<section id="editClassModal" class="editClassModal">
  <div class="modal">
      <button type="button" class="closeModal closeEditModal">
          <i data-lucide="x"></i>
      </button>
      <h2>Editar Classe</h2>
      <form id="editClassForm" action="{% url 'campaigns:campaign_classes' campaign.id %}" method="post">
          {% csrf_token %}
          <input type="hidden" name="edit_class_id" id="edit_class_id">

          <div class="className">
            <label for="className">Nome da classe:</label>
            <input type="text" name="className" id="edit_name">
          </div>
    
          <div class="classRoleContainer">
            <p>Papel da classe:</p>
    
            <div class="spellDamageContainer">
              <input type="checkbox" name="role" id="editSpellDamage" value="spell_damage" >
              <label for="editSpellDamage">Dano de magia</label>
            </div>
    
            <div class="physicalDamageContainer">
              <input type="checkbox" name="role" id="editPhysicalDamage" value="physical_damage">
              <label for="editPhysicalDamage">Dano físico</label>
            </div>
    
            <div class="supportContainer">
              <input type="checkbox" name="role" id="editSupport" value="support">
              <label for="editSupport">Suporte</label>
            </div>
    
            <div class="tankContainer">
              <input type="checkbox" name="role" id="editTank" value="tank">
              <label for="editTank">Tanque</label>
            </div>
          </div>    

          <div class="actions">
            <button type="button" id="cancelEdit">Cancelar</button>
            <button type="submit" id="submitEditButton">Salvar</button>
          </div>
         </div>
      </form>
  </div>
</section>

<section class="deleteClassModal" id="deleteClassModal">
  <div class="modal">
      <button type="button" class="closeModal closeDeleteModal">
          <i data-lucide="x"></i>
      </button>
      <h2>Deseja apagar esta classe?</h2>
      <form method="post" action="{% url 'campaigns:campaign_classes' campaign.id %}">
          {% csrf_token %}
          <input type="hidden" name="delete_class_id" id="delete_class_id">
          <div class="actions">
              <button type="button" id="cancelDelete">Cancelar</button>
              <button type="submit">Apagar</button>
          </div>
      </form>
  </div>
</section>

<section class="classList">
  
    <div class="sideBySide">
      <a href="{% url 'campaigns:view_campaign' campaign.id %}" class="back">
        <i data-lucide="circle-arrow-left"></i>
      </a>
      <h1>
        Classes | {{campaign.title}}
      </h1>
    </div>

    <div class="classTable">
        <div>
            <h3>Classes</h3>

            <button class="addClass">
              <i data-lucide="plus"></i> 
            </button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Nº de Jogadores</th>
                    <th>Papel</th>
                </tr>
            </thead>
            <tbody>
                {% for class in classes %}
                    <tr>
                        <td>{{ class.name }}</td>
                        <td>
                          <i data-lucide="users"></i> 
                          <p>{{ class.is_used }}</p>
                        </td> 
                        <td>
                            {% if 'spell_damage' in class.roles %}
                              <i data-lucide="wand"></i>
                            {% endif %}

                            {% if 'physical_damage' in class.roles %}
                              <i data-lucide="sword"></i>
                            {% endif %}

                            {% if 'support' in class.roles %}
                              <i data-lucide="cross"></i>
                            {% endif %}

                            {% if 'tank' in class.roles %}
                              <i data-lucide="shield"></i>
                            {% endif %}
                        </td>
                        <td>
                          <button class="editClass" data-id="{{ class.id }}" data-name="{{ class.name }}" data-roles="{{ class.roles }}">
                              <i data-lucide="edit-3"></i>
                          </button>
                      </td> 
                      <td>
                        <button class="delete_class_button" data-id="{{ class.id }}">
                            <i data-lucide="trash-2"></i>
                        </button>
                    </td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{% static 'campaigns_app/js/class.js' %}"></script>
</section>

{% include "dice.html" %}
{% endblock 'body' %}