{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" type="text/css" href="{% static 'campaigns_app/css/races.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'campaigns_app/css/add_race.css' %}">
    <link rel="stylesheet" href="text/css" href="{% static 'campaigns_app/css/modal/delete_race.css' %}">
    <link rel="shortcut icon" href="https://i.imgur.com/cwTGnjY.png" type="image/x-icon">
    <title>Raças</title>
{% endblock 'head' %}
{% block 'body' %}

<section class="ModalCreateRace">
    <div class="modal">
        <h2>Adicionar raça</h2>
        <form action="{% url 'campaigns:races' campaign.id %}" method="post">
            {%csrf_token%}
            <div class="RaceName">
                <label for="name">Nome da Raça: </label>
                <input type="text" name="name" id="name" value="{{name}}">
                {% for error in errors %}
                    {% if error.field == 'name' %}
                    <span>
                        <i data-lucide="octagon-alert"></i>
                        {{ error.message }}
                    </span>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="buff">
                <div>
                    <label for="strength_buff">Modificador de Força: </label>
                    <input type="number" name="strength_buff" id="strength_buff" value="{{strength_buff}}">
                </div>
                <div>
                    <label for="intelligence_buff">Modificador de Inteligência: </label>
                    <input type="number" name="intelligence_buff" id="intelligence_buff" value="{{intelligence_buff}}">
                </div>
                <div>
                    <label for="wisdom_buff">Modificador de Sabedoria: </label>
                    <input type="number" name="wisdom_buff" id="wisdom_buff" value="{{wisdom_buff}}">
                </div>
                <div>
                    <label for="charisma_buff">Modificador de Carisma: </label>
                    <input type="number" name="charisma_buff" id="charisma_buff" value="{{charisma_buff}}">
                </div>
                <div>
                    <label for="constitution_buff">Modificador de Constituição: </label>
                    <input type="number" name="constitution_buff" id="constitution_buff" value="{{constitution_buff}}">
                </div>
                <div>
                    <label for="speed_buff">Modificador de Velocidade: </label>
                    <input type="number" name="speed_buff" id="speed_buff" value="{{speed_buff}}">
                </div>
            </div>
            <div class="actions">  
                <button type="button" id="cancel">Cancelar</button> 
                <button type="submit" id="submit_button" >Criar Raça</button>
            </div>
        </form>
</section>

<section class="editRaceModal">
    <div class="modal">
        <span class="close" id="closeEditModal">&times;</span>
        <h2>Editar Raça</h2>
        <form action="{% url 'campaigns:races' campaign.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="edit_race_id" id="edit_race_id">
            <div class="RaceName">
                <label for="edit_name">Nome da Raça: </label>
                <input type="text" name="name" id="edit_name">
            </div>
            <div class="buff">
                <div>
                    <label for="edit_strength_buff">Modificador de Força: </label>
                    <input type="number" name="strength_buff" id="edit_strength_buff">
                </div>
                <div>
                    <label for="edit_intelligence_buff">Modificador de Inteligência: </label>
                    <input type="number" name="intelligence_buff" id="edit_intelligence_buff">
                </div>
                <div>
                    <label for="edit_wisdom_buff">Modificador de Sabedoria: </label>
                    <input type="number" name="wisdom_buff" id="edit_wisdom_buff">
                </div>
                <div>
                    <label for="edit_charisma_buff">Modificador de Carisma: </label>
                    <input type="number" name="charisma_buff" id="edit_charisma_buff">
                </div>
                <div>
                    <label for="edit_constitution_buff">Modificador de Constituição: </label>
                    <input type="number" name="constitution_buff" id="edit_constitution_buff">
                </div>
                <div>
                    <label for="edit_speed_buff">Modificador de Velocidade: </label>
                    <input type="number" name="speed_buff" id="edit_speed_buff">
                </div>
            </div>
            <div class="actions">
                <button type="button" id="cancelEdit">Cancelar</button>
                <button type="submit" id="submitEditButton">Salvar</button>
            </div>
        </form>
    </div>
</section>

<section class="deleteRaceModal">
    <div class="modal">
        <span class="close" onclick="closeModal()">&times;</span>
        <div class="actions">
            <h2>Deseja apagar esta raça?</h2>
            <button type="button" id="cancel">Cancelar</button>
            <button type="submit" class="delete_race">Apagar Raça</button>
        </div>
    </div>
</section>

<section class="raceList">
    <div class="sideBySide">
        <a href="{% url 'campaigns:view_campaign' campaign.id %}" class="back">
          <i data-lucide="circle-arrow-left"></i>
        </a>
        <h1>
            Raças | {{campaign.title}}
        </h1>
      </div>
    <div class="raceTable">
        <div>
            <h3>Raças</h3>
                <button class="addRace">
                    <i data-lucide="plus"></i> 
                </button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Nº de Jogadores</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for race in races %}
                    <tr>
                        <td>{{ race.name }}</td>
                        <td>
                            <i data-lucide="users"></i> 
                            <p>{{ race.is_used }}</p>
                        </td> 
                        <td>
                            <button class="editRace" data-id="{{ race.id }}" data-name="{{ race.name }}" data-strength="{{ race.strength_buff }}" data-intelligence="{{ race.intelligence_buff }}" data-wisdom="{{ race.wisdom_buff }}" data-charisma="{{ race.charisma_buff }}" data-constitution="{{ race.constitution_buff }}" data-speed="{{ race.speed_buff }}">
                                <i data-lucide="edit-3"></i>
                            </button>
                            
                        </td> 
                        <td>
                            <button class="" onclick="">
                                <i data-lucide="trash-2"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{% static 'campaigns_app/js/races.js' %}"></script>
</section>

{% include "dice.html" %}
{% endblock 'body' %}