:root {
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-950: #450a0a;
  --green-500: #22c55e;
  --white: #f7f7f7;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

a {
  text-decoration: none;
}
  
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--red-700);
  border-radius: 6px;
}

.campaignContainer {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(12px);
  z-index: 9;
  min-height: 100vh;
  height: 100%;
  padding: 32px;
  overflow-x: hidden;
  position: relative;
}

.campaignImage {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 280px);
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: brightness(87%);
}

.campaignName {
  position: absolute;
  z-index: 999;
  font-size: 64px;
  color: var(--white);
  text-shadow: 2px 2px 8px black;
  bottom: -32px;
  left: 32px;
}

.campaignCode {
  display: block;
  position: absolute;
  z-index: 999;
  right: 24px;
  top: 24px;
}

.campaignCode span {
  color: var(--white);
  font-weight: bold;
  background-color: rgba(31, 41, 55, 0.8);
  padding: 4px 8px;
  border-radius: 4px;
 
  
}

.campaignCode button {
  background: none;
}

.campaignCode svg {
  cursor: pointer;
  color: var(--red-600);
}

.lottieAnimation {
  height: 100px;
  position: absolute;
  top: -32px;
  right: -36px;
  pointer-events: none;
  transform: rotate(180deg);
}

.hide {
  display: none;
}

.buttons {
  position: absolute;
  right: 32px;
  top: calc(30vh + 32px);
  display: flex;
  align-items: center;
}

.buttons .button {
  margin-right: 25px;
  text-decoration: none;
  background-color: var(--red-700);
  color: var(--white);
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.467);
  transition: all .2s;
}

.buttons .button:hover {
  cursor: pointer;
  background-color: var(--red-600);
}

.buttons #menu {
  color: var(--gray-400);
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background: var(--gray-800);
  border: 1px solid var(--gray-700);
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1000;
  min-width: 200px;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  padding: 10px 20px;
  text-decoration: none;
  color: var(--white);
  display: block;
  transition: background-color 0.2s;
}

.dropdown-menu a {
  font-weight: 600;
}

.dropdown-item:hover {
  background: var(--gray-700);
  color: var(--white);
}

#menu {
  color: var(--gray-400);
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

form input, textarea {
  margin: 20px 0px;
  width: 100%;
  border: 2px solid var(--gray-200);
  border-radius: 4px;
  padding: 8px;
}

textarea {
  resize: none;
  height: 100px;
}

.submitInput {
  background-color: var(--red-600);
  color: var(--gray-200);
  cursor: pointer;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 0px;
  transition: all .2s;
}

.submitInput:hover {
  background-color: var(--red-700);
}

.modal h2 {
  color: var(--gray-800);
}

.modal-content {
  background-color: var(--white);
  margin: 15% auto;
  padding: 25px;
  border: 1px solid var(--gray-700);
  border-radius: 4px;
  width: 80%;
  max-width: 650px;
  height: fit-content;
  color: var(--white);
}

.close {
  color: var(--gray-400);
  float: right;
  font-size: 40px;
  font-weight: 600;
  cursor: pointer;
}

.closeH2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#modal-delete > .modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

form span {
  color: var(--red-600);
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: -10px;
  margin-bottom: 5px;
}

#delete-form {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}


#delete-form button {
  color: var(--white);
  background-color: transparent;
  display: flex;
  align-items: center;
  font-size: 16px;
  margin: 0 10px;
  margin-bottom: 5px;
  padding: 10px 20px;
  font-weight: bold;
  background-color: var(--red-600);
  border-radius: 5px;
  transition: all .2s;
}

#delete-form button:hover {
  background-color: var(--red-700);
}

#modal-delete p {
  color: var(--gray-800);
  margin-top: 20px;
}

#submit-delete {
  background-color: var(--gray-200) !important;
  color: var(--gray-600) !important;
  transition: all .2s;
}

#submit-delete:hover {
  background-color: var(--gray-300) !important;
}

.campaignSheets {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  justify-content: space-between;

  gap: 16px;
  margin-top: calc(30vh + 80px);
}

.sheetCard {
  border-radius: 4px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  width: 100%;
  transition: all .3s;
}

.sheetCard > div {
  width: 300px;
  height: 200px;
  padding: 24px;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 4px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.createSheet {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px dashed var(--red-700);
  cursor: pointer;

  background-size: cover;
  background-repeat: no-repeat;

  transition: all .3s;
}

.sheetCard h2 {
  text-align: center;
  color: var(--gray-300);
}

.deleteSheet{
  position: absolute;
  z-index: 9999999999;
  right: 10px;
  top: 10px;

  cursor: pointer;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: white;
}

.sheet_info {
  margin-top: 24px;
  width: 100%;
}

.sheet_info span {
  color: var(--gray-200);
  font-weight: 600;
}

.sheet_info p {
  margin-top: 4px;
  color: var(--white);
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.title {
  padding-bottom: 20px;
}

.sideBySide {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  padding: 5px 0;
  position: relative; /* Para posicionar corretamente o background-bar */
}

.background-bar {
  background-color: rgba(187, 187, 187, 0.797); 
  height: 4.8px;
  width: 100%;
  position: absolute;
  top: 5px;
  left: 0;
  z-index: -1;
}
.background-bar2 {
  background-color: rgba(187, 187, 187, 0.797);
  height: 5px;
  width: 100%;
  position: absolute;
  top: 25px;
  left: 0;
  z-index: -1; 
}

.hp-bar, .mana-bar {
  height: 5px;
  position: relative; 
}

.hp-bar {
  background-color: rgba(238, 67, 67, 0.8);
  height: 4.8px;
  margin-bottom: 15px;
}

.mana-bar {
  background-color: rgba(86, 86, 227, 0.8);
  height: 5px;
}

.sheetCard:hover {
  transform: translateY(-4px);
  cursor: pointer;
  filter: saturate(120%);
  box-shadow: rgba(53, 11, 11, 0.3) 0px 8px 24px;
}

.detailLink {
  width: 94%;
  color: var(--white);
  cursor: pointer;
}

@media (max-width: 800px) {
  .campaignImage {
    width: 100vw;
  }
}