:root {
    --red-600: #dc2626;
    --red-700: #b91c1c;
    --red-950: #450a0a;
    --green-500: #22c55e;
    --white: #f7f7f7;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
}

.raceList {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(12px);
    z-index: 99;
    height: 100vh;
    padding: 32px 64px;
    overflow: auto;
}

.raceTable {
    background-color: var(--white);
    border-radius: 8px;
    width: 100%;
    margin: 84px 0 40px;
}

.raceTable > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 24px;
    position: relative;
}

.addRace {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-color: var(--red-700);
    border: none;
}

.addRace svg {
    color: var(--white);
}

.raceTable h3 {
    color: var(--red-700);
}

table {
    border-collapse: collapse;
    text-align: left;

    width: 100%;
}

table tr {
    border-bottom: 1px solid var(--gray-300);
}

thead tr {
    border-top: 1px solid var(--gray-300);
    border-bottom: 1px solid var(--gray-300);
}

thead th {
    color: var(--gray-600);
    font-weight: 500;
    padding: 12px 24px;
}

table tbody tr:last-child {
    border-bottom: none;
}

tbody td {
    padding: 12px 24px;
    color: var(--gray-500);
}

tbody td:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
  }
  
  .back {
    padding: 2px;
    margin-right: 10px;
  }
  
  .sideBySide{
    display: flex;
  }
  