:root {
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-950: #450a0a;
  --green-500: #22c55e;
  --white: #f7f7f7;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--red-700);
  border-radius: 6px;
}

.listCampaignContainer {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(12px);
  z-index: 999;
  height: 100vh;

  padding: 32px 64px;
  overflow: auto;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  justify-content: space-between;

  gap: 16px;
}

.campaignCard {
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all .3s;
}

.campaignCard:hover {
  transform: translateY(-4px);
  cursor: pointer;
  filter: saturate(120%);
  box-shadow: rgba(53, 11, 11, 0.3) 0px 8px 24px;
}

.campaignCard > div, .createCampaign {
  width: 300px;
  height: 200px;
  padding: 24px;
  background-color: rgba(0,0,0,0.4);
  position: relative;
  border-radius: 4px;
}

.createCampaign {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px dashed var(--red-700);
  cursor: pointer;

  background-size: cover;
  background-repeat: no-repeat;
  
  transition: all .3s;
}

.createCampaign:hover {
  transform: translateY(-4px);
  box-shadow: rgba(185,28,28,0.3) 0px 8px 24px;
}

.createCampaign div {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  height: 90px;
  border-radius: 50%;

  border: 3px dashed var(--red-700);
  color: var(--red-700);
}

.createCampaign:hover {
  transform: translateY(-4px);
}

.campaignCard {
  overflow: hidden;
}

.campaignCard h2 {
  text-align: center;
  color: var(--gray-300);
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.campaignInfo {
  margin-top: 24px;
}

.campaignInfo span {
  color: var(--gray-200);
  font-weight: 600;
}

.campaignInfo p {
  margin-top: 4px;
  color: var(--white);
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
}

.title {
  padding-bottom: 20px;
}

@media (max-width: 1653px) {
  .cardList {
    grid-template-columns: repeat(3, 1fr);
  }

  .campaignCard > div, .createCampaign {
    width: 100%;
  }
}

@media (max-width: 1333px) {
  .cardList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1080px) {
  .cardList {
    grid-template-columns: repeat(1, 1fr);
  }
}

