{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
  <link rel="stylesheet" type="text/css" href="{% static 'sheets_app/css/sheets.css' %}">
  <link rel="shortcut icon" href="https://i.imgur.com/cwTGnjY.png" type="image/x-icon">
  <title>Ciar fichas | ForgeSheets</title>
{% endblock %}

{% block 'body' %}

<section> 
    <section class="sheet">
    <form action="{% url 'sheets:createsheets' %}" method="post">
        <label for="name">Nome: </label>
        <input type="text" name="name">
        <br>
        <label for="image">foto do personagem: </label>
        <input type="url" name="image">
        <br>
        <label for="race">Raça do personagem: </label>
        <input type="text" name="race">
        <br>
        <label for="role">classe do personagem: </label>
        <input type="text" name="role">
        
        
        <div class="atributos">

            <label for="strength">Força: </label>
            <input type="text" name="strength">
            <br>
            <label for="intelligence">Inteligencia: </label>
            <input type="text" name="intelligence">
            <br>
            <label for="wisdom">Sabedoria: </label>
            <input type="text" name="wisdom">
            <br>
            <label for="charisma">Carisma: </label>
            <input type="text" name="charisma">
            <br>
            <label for="constitution">Contituição: </label>
            <input type="text" name="constitution">
            <br>
            <label for="speed">Velocidade: </label>
            <input type="text" name="speed">

        </div>
    </form>
    </section>
</section>

{% endblock %}