* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

nav {
  width: 280px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  min-height: 100vh;
  height: 100%;
  padding: 0 20px;
}

nav img {
  width: 100%;
}

nav ul {
  list-style-type: none;
}

nav li {
  width: 100%;
  height: 56px;

  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 22px;
  border-radius: 4px;
  padding: 16px;

  font-weight: 600;
  color: #d7d7d7;
  cursor: pointer;

  transition: all 0.3s;
}

nav li:hover {
  filter: brightness(0.8);
}

nav li.active {
  background-color: rgba(220, 38, 38, 0.2);

  color: var(--red-600);
}
