* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

:root {
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --green-500: #22c55e;
  --white: #f7f7f7;
  --gray-200: #e5e7eb;
  --gray-800: #1f2937;
}

nav {
  width: 280px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(12px);
  min-height: 100vh;
  height: 100%;
  padding: 0 20px;
}

nav img {
  width: 100%;
}

nav ul {
  list-style-type: none;
}

nav li {
  width: 100%;
  height: 56px;

  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 22px;
  border-radius: 4px;
  padding: 16px;

  font-weight: 600;
  color: #d7d7d7;
  cursor: pointer;

  transition: all 0.3s;
}

nav li:hover {
  filter: brightness(0.8);
}

nav li.active {
  background-color: rgba(220, 38, 38, 0.2);

  color: var(--red-600);
}

main {
  display: grid;
  grid-template-columns: 280px 1fr;
  width: 100vw;
  height: 100vh;
  background-image: url('https://pbs.twimg.com/media/GKCEn7FW0AA0AzQ?format=jpg&name=large');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: fixed;
}
