:root {
    --red-600: #dc2626;
    --red-700: #b91c1c;
    --red-950: #450a0a;
    --green-500: #22c55e;
    --white: #f7f7f7;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
  }
  

a {
    text-decoration: none;
}

section {
    background: rgba(0,0,0,0.8);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

input, textarea {
    width: 100%;
    border: 2px solid var(--gray-200);
    border-radius: 4px;
    padding: 8px;
}

input {
    height: 35px;
}

textarea {
    resize: none;
}

label {
    display: block;
    margin-bottom: 8px;
    color: var(--gray-700);
}

h2 {
    color: var(--gray-800);
}

button {
    cursor: pointer;
}

.modal {
    background-color: var(--white);
    padding: 24px;
    border-radius: 4px;
    width: 650px;
    min-height: 595px;
    height: fit-content;
}

.modal form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;

    margin-top: 40px;
}

.modal span {
    color: var(--red-600);
    display: flex;
    align-items: center;
    gap: 8px;

    margin-top: 8px;
}

.actions {
    align-self: flex-end;
}

.actions button {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    font-size: 16px;
}

.actions button:first-child {
    background-color: var(--gray-300);
    color: var(--gray-700);
    margin-right: 16px;
}

.actions button:first-child a {
    color: var(--gray-700);
}

.actions button:last-child {
    background-color: var(--red-600);
    color: var(--gray-200);
}