section {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(12px);
  z-index: 999;

  padding: 32px 64px;
}

.campaignCard {
  width: 300px;
  padding: 24px;
  background-color: #d7d7d7;
  margin: 1rem;
  position: relative;
}

.campaignCard img {
  /* position: absolute; */
}