* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

:root {
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-950: #450a0a;
  --green-500: #22c55e;
  --white: #f7f7f7;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--red-700);
  border-radius: 6px;
}
button {
  cursor: pointer;
}

nav {
  width: 280px;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(12px);
  min-height: 100vh;
  height: 100%;
  padding: 0 20px;

  display: flex;
  flex-direction: column;

  position: relative;
}

nav img {
  width: 70%;
  align-self: center;
}

nav ul {
  list-style-type: none;
  margin-top: 24px;
}

nav li {
  width: 100%;
  height: 56px;

  margin-bottom: 22px;
  border-radius: 4px;

  font-weight: 600;
  cursor: pointer;

  transition: all 0.3s;
}

nav li a {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #d7d7d7;
  height: 100%;
  padding: 16px;
}

nav li:hover {
  filter: brightness(0.8);
}

nav li.active {
  background-color: rgba(220, 38, 38, 0.2);
}

nav li.active a {
  color: var(--red-600);
}

nav form:last-child {
  position: absolute;
  bottom: 16px;

  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

nav form:last-child button {
  color: var(--red-600);
  background: transparent;
  border: none;
}

main {
  display: grid;
  grid-template-columns: 280px 1fr;
  width: 100vw;
  height: 100vh;
  background-image: url('https://utfs.io/f/c27a32b8-8586-4c63-b935-3bd8f953c330-pbfz1.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

#menuHamburguer {
  display: none;
}

.mainSheets {
  background-image: url('https://utfs.io/f/421f62ae-4e42-48f8-94ea-83d33130dbd4-l45huf.png');
}

.usuario {
  text-align: center;
  padding-right: 12px;
  font-size: 18px;
}

h1 {
  color: var(--white);
}

@media (max-width: 800px) {
  nav {
    display: none;
  }

  nav.active {
    display: flex;
    position: absolute;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.3);
  }

  main {
    display: block;
  }

  #menuHamburguer {
    display: block;
    position: absolute;
    z-index: 99999;
  }
}

.dice {
  margin-left: 500px;
}
