button {
  border: none;
}

.diceButton {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  bottom: 20px;
  right: 32px;
  background-color: var(--red-600);
  color: var(--gray-200);
  border: none;
  font-weight: 600;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  display: flex;
  transition: all 0.3s;
  z-index: 9999;
}

.diceButton:hover {
  background-color: #e53935;
  transform: scale(1.1);
}

.diceModal .modal {
  padding: 20px;
  max-height: 70vh;
  overflow-y: scroll;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.diceModal {
  position: absolute;
  right: 0;
  bottom: 105px;
  right: 64px;

  display: none;

  z-index: 9999;
}

.diceModal .modal {
  background-color: var(--white);
  padding: 6px;
  border-radius: 4px;
  border-bottom-right-radius: 0;
  width: 350px;
  height: fit-content;
  position: relative;
}

.diceModal .modal .container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  width: 100%;
  padding: 10px;
}

.rollButton {
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Montserrat';
  background-color: var(--red-600);
  color: var(--gray-200);
  width: 100%;
  margin-top: 24px;
}

#closeDice {
  background-color: var(--red-600);
  cursor: pointer;
  color: var(--gray-200);
  border-radius: 4px;
  height: 24px;
  width: 24px;
}

#formDice h2 {
  margin: 0px 0px 10px;
}

input {
  height: 35px;
  border: 2px solid var(--gray-200);
  padding: 8px;
  width: 100%;
}

#formDice {
  margin-bottom: 10px;
}

.diceModal .modal span {
  color: var(--red-600);
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: x-small;
}

.diceModal .modal .error-message .lucide {
  width: 28px;
  height: 24px;
}

.dice-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.dice-face {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 16px;
  animation: rollDice 0.5s infinite;
  color: #f3efef;
  background-size: contain;
  font-weight: 600;
  text-shadow: 1px 1px 0px black;
}

@keyframes rollDice {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1.1);
  }
}
