:root {
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-950: #450a0a;
  --green-500: #22c55e;
  --white: #f7f7f7;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
}
.chooseSheetModal {
  background: rgba(0,0,0,0.8);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: none;
  align-items: center;
  justify-content: center;

  z-index: 9999;
}

.chooseSheetModal .modal {
  background-color: var(--white);
  padding: 32px;
  border-radius: 4px;
  width: fit-content;
  max-height: 400px;
  height: 100%;
  position: relative;
}

.chooseSheetModal .modal .container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#closeChooseSheet {
  position: absolute;
  top: 16px;
  right: 16px;
  background-color: transparent;
  border: none;
}

.chooseSheetModal .modal .container div {
  display: flex;
  flex-direction: column;
}

.chooseSheetModal .modal div:first-child {
  justify-content: center;
  border-right: 1px solid var(--gray-300);
  padding-right: 32px;
  height: 100%;
}

.chooseSheetModal .modal .container div:last-child {
  justify-content: center;
  align-items: center;
  margin: 0 32px;
}

.chooseSheetModal .modal h2 {
  margin-bottom: 16px;
  color: var(--gray-800);
}

.chooseSheetModal .modal label {
  margin-bottom: 8px;
  display: block;
}

.chooseSheetModal .modal input {
  width: 100%;
  border: 2px solid var(--gray-200);
  border-radius: 4px;
  padding: 8px;
}

.chooseSheetModal .modal a {
  text-decoration: none;
  background-color: var(--red-700);
  padding: 8px 12px;
  text-align: center;
  align-self: center;
  border-radius: 4px;
  color: var(--white);
  font-weight: 600;
  margin-top: 28px;
}

@media (max-width: 900px) {
  .chooseSheetModal .modal {
    margin: 0 5%;
    width: 90%;
  }

  .chooseSheetModal .modal div {
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 580px) {
  .chooseSheetModal .modal  {
    max-height: none;
    height: fit-content;
    padding: 32px;
  }

  .chooseSheetModal .modal .container {
    flex-direction: column;
  }

  .chooseSheetModal .modal div:first-child {
    border-right: none;
    border-bottom: 1px solid var(--gray-300);
    margin-right: 0;
    padding-right: 0;
    padding-bottom: 32px;
  }

  .chooseSheetModal .modal div:last-child {
    padding-top: 32px;
  }
}