:root {
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-950: #450a0a;
  --green-500: #22c55e;
  --white: #f7f7f7;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--red-700);
  border-radius: 6px;
}


a {
  text-decoration: none;
}

label {
  font-weight: 500;
}

input {
  height: 35px;
  border: 2px solid var(--gray-200);
  padding: 8px;
}

button {
  cursor: pointer;
}

.mainSheet {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(12px);
  z-index: 999;
  overflow-y: scroll;
  height: 100%;
}

.sheet {
  background-color: var(--white);
  border-radius: 4px;
  padding: 32px;
  margin: 15%;
  margin-top: 5%;
  overflow: scroll;
  height: fit-content;
}

.sheet span {
  color: var(--red-600);
  display: flex;
  align-items: center;
  gap: 8px;

  margin-top: 8px;
}

.sheetHeader {
  display: flex;
  align-items: center;
  gap: 16px;
}

.sheetHeader div, .sheetHeader input {
  width: 100%;
}

.sheetHeader label {
  display: block;
  color: var(--gray-700);
  margin-bottom: 8px;
}

.atributos, .status {
  width: 100%;
}

.atributosInputs div, .statusInputs div {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  
  background-color: var(--gray-800);
  color: var(--white);
  margin-bottom: 16px; 
  
  border-radius: 2px;
}

.sheetSideBySide {
  border: 1px solid green;
  margin-top: 40px;
  margin-bottom: 40px;
}

.image_svg{
  color: var(--gray-800);
}

.sheetSideBySide, .equipamentos {
  display: flex;
  justify-content: space-between;

  width: 100%;
  gap: 10%;
}


.under {
  border: 1px solid red;
  /* margin-top: 40px; */
}

.equipamentos div {
  width: 100%; 
} 

.equipamentos{
  display: flex;
  align-items: flex-start;
  justify-content: space-around; 
  width: 100%;
  gap: 10%;
}
.equipamentos {
  margin-top: 15%;
  background-color: var(--gray-800);
  padding: 16px;
  padding-top: 0px;
  color: var(--white);
  max-width: 400px;
  min-width: 400px;
  width: 100%;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
}

.equipamentos .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3px;
  padding-bottom: 3px;
}

.equipamentos button {
  background: none;
  border: none;
  color: var(--white);
}

.equipamentos .equipmentsListContainer {
  height: 250px;
  background-color: var(--gray-200);
}

.equipmentsListContainer {
  overflow-y: scroll;
}

.equipmentList {
  color: var(--gray-700);
  list-style-type: circle;
  padding: 0 24px 16px;
  position: relative;
}

.equipmentList li {
  margin-top: 16px;
  position: relative;
}


.equipmentList button {
  position: absolute;
  right: 40px;
  color: var(--gray-800);
}

.equipmentList button:nth-child(2) {
  position: absolute;
  right: 0;
  color: var(--red-600);
}

.atributos {
  border: 1px solid gold;
}

.addEquip {
  color: var(--gray-600);
}

.add_image_div button {
  border-radius: 100%;
  background-color: var(--gray-300);
  margin: auto;
  /* background: none; */
  border: none;
  width: 230px;
  height: 230px;
}

.add_image_div {
  border-radius: 50%;
  text-align: center;
}

.add_image_div img {
  width: 230px;
  height: 230px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--gray-800);
}


.createSheetActions {
  margin-top: 16px;
  float: right;
}

.createSheetActions button {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;

  font-weight: 600;
  font-size: 16px;
}

.createSheetActions button:first-child {
  background-color: var(--gray-200);
  color: var(--gray-700);
}

.createSheetActions button:first-child a {
  color: var(--gray-700);
}

.createSheetActions button:last-child {
  background-color: var(--red-600);
  color: var(--gray-200);
}

@media (max-width: 1540px) {
  .atributos, .status {
    width: fit-content;
  }

  .atributosInputs div {
    width: 100%;
  }

  .atributosInputs div input, .statusInputs div input {
    max-width: 50%;
    width: 100%;
  }
}

@media (max-width: 1230px) {
  .sheetHeader {
    flex-direction: column;
  }
}

@media (max-width: 1180px) {
  .sheetSideBySide {
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
    height: fit-content;
  }

  .atributos {
    margin-top: 24px;
  }

  .status {
    margin: 0;
  }

  .atributos, .status, .equipamentos, .description {
    min-width: 100%;
    width: 100%;
  }
}
.description{
  margin-top: 10%;
}
#description{
  margin-top: 3.7%;
}

@media (max-width: 800px) {
  .sheet {
    margin: 8%;
    height: 100%;
  }
}

