:root {
    --red-600: #dc2626;
    --red-700: #b91c1c;
    --green-500: #22c55e;
    --white: #f7f7f7;
    --gray-200: #e5e7eb;
    --gray-800: #1f2937;
    --gray-700: #374151;
  }

a {
    text-decoration: none;
}

textarea {
    resize: none;
}

.equipmentModal, .editEquipmentModal {
    background: rgba(0,0,0,0.8);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: none;
    align-items: center;
    justify-content: center;

    z-index: 9999;
}

.equipmentModal input, textarea, .editEquipmentModal input, textarea {
    width: 100%;
    border: 2px solid var(--gray-200);
    border-radius: 4px;
    padding: 8px;
}

.equipmentModal input, .editEquipmentModal input {
    height: 35px;
}

.equipmentModal textarea, .editEquipmentModal textarea {
    resize: none;
}

.equipmentModal label, .editEquipmentModal label {
    display: block;
    margin-bottom: 8px;
    color: var(--gray-700);
}

.equipmentModal h2, .editEquipmentModal h2 {
    color: var(--gray-800);
}

.equipmentModal button, .editEquipmentModal button {
    cursor: pointer;
}

.equipmentModal .modal, .editEquipmentModal .modal {
    background-color: white;
    padding: 24px;
    border-radius: 4px;
    width: 650px;
    height: fit-content;
}

.equipmentModal .modal form, .editEquipmentModal .modal form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;

    margin-top: 40px;
}

.equipmentModal .modal span, .editEquipmentModal .modal span {
    color: var(--red-600);
    display: flex;
    align-items: center;
    gap: 8px;

    margin-top: 8px;
}

.equipmentModal .actions, .editEquipmentModal .actions {
    align-self: flex-end;
}

.equipmentModal .actions button, .editEquipmentModal .actions button {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    font-size: 16px;
}

.equipmentModal .actions button:first-child, .editEquipmentModal .actions button:first-child {
    background-color: var(--gray-200);
    color: var(--gray-700);
}

.equipmentModal .actions button:first-child a, .editEquipmentModal .actions button:first-child a {
    color: var(--gray-700);
}

.equipmentModal .actions button:last-child, .editEquipmentModal .actions button:last-child  {
    background-color: var(--red-600);
    color: var(--gray-200);
}

.equipmentModal .sideBySide, .editEquipmentModal .sideBySide {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 16px;
}

.equipmentModal .sideBySide div, .editEquipmentModal .sideBySide div {
    width: 100%; 
} 