:root {
    --red-600: #dc2626;
    --red-700: #b91c1c;
    --red-950: #450a0a;
    --green-500: #22c55e;
    --white: #f7f7f7;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
}
.deleteSheetModal {
    background: rgba(0,0,0,0.8);
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  
    display: none;
    align-items: center;
    justify-content: center;
  
    z-index: 9999;
}
  
.deleteSheetModal .modal {
    background-color: var(--white);
    padding: 32px 16px;
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
    position: relative;
}
  
.deleteSheetModal .modal .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
  
#closeDeleteSheet {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
}
  
.deleteSheetModal .modal .container div:last-child {
    justify-content: center;
    align-items: center;
    margin: 0 32px;
}
  
.deleteSheetModal .modal .container div {
    display: flex;
    flex-direction: column;
}
  
.deleteSheetModal .modal h2 {
    font-size: 24px;
    margin-bottom: 16px;
    color: var(--gray-800);
}

.deleteSheetModal .modal h2 strong {
    color: var(--red-700);
}


.deleteSheetModal .modal p {
    font-size: 18px;
    margin-bottom: 16px;
    color: var(--gray-700);
}
  
.deleteSheetModal .modal input {
    width: 100%;
    border: 2px solid var(--gray-200);
    border-radius: 4px;
    padding: 8px;
}
  
.deleteSheetModal .modal a {
    text-decoration: none;
    background-color: var(--red-700);
    padding: 8px 12px;
    text-align: center;
    align-self: center;
    border-radius: 4px;
    color: var(--white);
    font-weight: 600;
    margin-top: 28px;
}

#formDeleteSheet {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
    width: 100%;
    gap: 40px;

    align-items: baseline;
}

.deleteSheetModal button {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
  
    font-weight: 700;
    font-size: 16px;
}

.cancel {
    background-color: var(--red-700);
    color: white;
}

.delete {
    background-color: var(--gray-200);
    color: var(--gray-600);
}