:root {
  --red-600: #DC2626;
  --red-700: #b91c1c;
  --green-500: #22c55e;
  --white: #f7f7f7;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--red-700);
  border-radius: 6px;
}

.listSheetsContainer{
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(12px);
  z-index: 999;
  height: 100vh;

  padding: 32px 64px;
  overflow: auto;
}

.cardList {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  justify-content: space-between;

  gap: 16px;
}

.sheetCard {
  border-radius: 4px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(3px);
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  width: 100%;
  transition: all .3s;
}

.sheetCard>div, .createSheet {
  width: 300px;
  height: 200px;
  padding: 24px;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 4px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.createSheet {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px dashed var(--red-700);
  cursor: pointer;

  background-size: cover;
  background-repeat: no-repeat;

  transition: all .3s;
}

.createSheet:hover {
  transform: translateY(-4px);
  box-shadow: rgba(185, 28, 28, 0.3) 0px 8px 24px;
}

.createSheet div {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  height: 90px;
  border-radius: 50%;

  border: 3px dashed var(--red-700);
  color: var(--red-700);
}

.createSheet:hover {
  transform: translateY(-4px);
}

.sheetCard h2 {
  text-align: center;
  color: var(--gray-300);
} 

.sheet_info {
  margin-top: 24px;
  width: 100%;
}

.sheet_info span {
  color: var(--gray-200);
  font-weight: 600;
}

.sheet_info p {
  margin-top: 4px;
  color: var(--white);
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.title {
  padding-bottom: 20px;
}

.sideBySide {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  
  width: 100%;
  gap: 16px;
}

.bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
  padding: 5px 0;
}

.hp-bar {
  background-color: rgba(238, 67, 67, 0.8);
  height: 5px;
  margin-bottom: 15px;
}

.mana-bar {
  background-color: rgba(86, 86, 227, 0.8);
  height: 5px;
}

@media (max-width: 1653px) {
  .cardList {
    grid-template-columns: repeat(3, 1fr);
  }

  .sheetCard > div, .createSheet {
    width: 100%;
  }
}

@media (max-width: 1333px) {
  .cardList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1080px) {
  .cardList {
    grid-template-columns: repeat(1, 1fr);
  }
}

.sheetCard:hover {
  transform: translateY(-4px);
  cursor: pointer;
  filter: saturate(120%);
  box-shadow: rgba(53, 11, 11, 0.3) 0px 8px 24px;
}

.detailLink{
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}