:root {
    --blue-mana: #5252fa;
    --red-life: #ee4343;
    --red-600: #dc2626;
    --red-700: #b91c1c;
    --red-950: #450a0a;
    --green-500: #22c55e;
    --green-xp: #44c144;
    --white: #f7f7f7;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
}
  
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--red-700);
    border-radius: 6px;
}
  
a {
    text-decoration: none;
}
  
label {
    font-weight: 500;
}
  
input {
    /* background-color: transparent; */
    /* border: none; */
    height: 35px;
    padding: 8px;

}

.nameInput{
    font-size: xx-large;
    border: none;
    background-color: transparent;
    width: -webkit-fill-available;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

button {
    cursor: pointer;
}

.mainSheet {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(12px);
    z-index: 999;
    overflow-y: scroll;
    height: 100%;
}
  
.sheet {
    background-color: var(--white);
    border-radius: 4px;
    padding: 32px;
    margin: 15%;
    margin-top: 5%;
    overflow: scroll;
    height: fit-content;
}
  
.sheet span {
    color: var(--red-600);
    display: flex;
    align-items: center;
    gap: 8px;
  
    margin-top: 8px;
}
  
.sheetHeader {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin-top: 20px;
}
  
.sheetHeader div, .sheetHeader input {
    width: 100%;
}
  
.sheetHeader label {
    display: block;
    color: var(--gray-700);
    margin-bottom: 8px;
}

.add_image_div button {
    border-radius: 100%;
    background-color: var(--gray-300);
    margin: auto;
    border: none;
    width: 230px;
    height: 230px;
}
  
.add_image_div {
    border-radius: 50%;
    text-align: center;
}
  
.add_image_div img {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid var(--red-600);
}

.image_svg {
    color: var(--gray-800);
}

.swords{
    margin-top: 155px;
    position: absolute;
    color: black;
}

.shield{
    margin-top: 155px;
    margin-left: 160px;
    position: absolute;
}

.add-image{
    position: relative;
}

.under {
    width: 100%;
}

.underTwo {
    width: 100%;
    position: relative;
    top: -230px;
}

/*css de equipamentos*/

.equipamentos div {
    width: 100%; 
  } 

.equipamentos{
    display: flex;
  justify-content: space-between;

  width: 100%;
  gap: 10%;
}
  
.equipamentos {
    background-color: var(--gray-800);
    padding: 16px;
    padding-top: 0px;
    color: var(--white);
    width: 100%;
    border-radius: 4px;
    margin-top: 1rem;
  
    display: flex;
    flex-direction: column;
}
  
.equipamentos .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3px;
    padding-bottom: 3px;
}
  
.equipamentos button {
    background: none;
    border: none;
    color: var(--white);
}

.equipamentos .equipmentsListContainer {
    height: 250px;
    background-color: var(--gray-200);
}
  
.equipmentsListContainer {
    overflow-y: scroll;
}
  
.equipmentList {
    color: var(--gray-700);
    list-style-type: circle;
    padding: 0 24px 16px;
    position: relative;
}
  
.equipmentList li {
    margin-top: 16px;
    position: relative;
}
  
  
.equipmentList button {
    position: absolute;
    right: 40px;
    color: var(--gray-800);
}
  
.equipmentList button:nth-child(2) {
    position: absolute;
    right: 0;
    color: var(--red-600);
}
  
.addEquip {
    color: var(--gray-600);
}

/* css de magia */
.magics {
    background-color: var(--gray-800);
    padding: 16px;
    padding-top: 0px;
    color: var(--white);
    width: 100%;
    border-radius: 4px;
    margin-top: 1rem;
    
    display: flex;
    flex-direction: column;
    gap: 10%;
}
  
.magics div {
    width: 100%; 
} 
  
.magics .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3px;
    padding-bottom: 3px;
}
  
.magics button {
    background: none;
    border: none;
    color: var(--white);
}
  
.magics .magicListContainer {
    height: 250px;
    background-color: var(--gray-200);
}
  
.magicListContainer {
    overflow-y: scroll;
}
  
.magicList {
    color: var(--gray-700);
    list-style-type: circle;
    padding: 0 24px 16px;
    position: relative;
}
  
.magicList li {
    margin-top: 16px;
    position: relative;
}
  
.magicList button {
    position: absolute;
    right: 40px;
    color: var(--gray-800);
}
  
.magicList button:nth-child(2) {
    position: absolute;
    right: 0;
    color: var(--red-600);
}

/*Css das barras de vida, mana e xp*/

.status{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    padding: 5px 0;
}

.bar{
    text-align: center;
    margin-bottom: -35px;
    padding-top: 3px;
}

.bar span{
    color: white;
    font-weight: bold;
}

.bar-fill{
    background-color: lightgray;
    height: 35px;
    width: 300px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: none;
    /* position: relative; */
}

.hpFill {
    background-color: var(--red-life);
    height: 35px;
    border-radius: 5px;
    /* margin-bottom: 15px; */
}

.manaFill {
    background-color: var(--blue-mana);
    height: 35px;
    border-radius: 5px;
    /* margin-bottom: 15px; */
}

.xpFill {
    background-color: var(--green-xp);
    height: 35px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.hpRight, .manaRight{
    /* outline: 0; */
    border: none;
    background-color: transparent;
    
    text-align: left;
    color: white;
    font-weight: bold;
}

.hpLeft, .manaLeft{
    /* outline: 0; */
    border: none;
    background-color: transparent;
    
    text-align: right;
    color: white;
    font-weight: bold;
}

.expInput{
    border: none;
    background-color: transparent;

    text-align: right;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.expP{
    padding-right: 40%;
}


.inputs{
    position: relative;
    top: -50px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    
}


/*css dos atributos*/
.infos {
    justify-content: space-between;
    
}

.infos input {
    padding: auto;
}

.atributos {
    width: 100%;
}

.atributosInputs div, .statusInputs div {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    
    background-color: var(--gray-800);
    color: var(--white);
    margin-bottom: 16px; 
    
    border-radius: 2px;
}

.sideBySide {
    display: flex;
    justify-content: space-around;
    
    width: 100%;
    gap: 16px;

    align-items: baseline;
}

.createSheetActions {
    margin-top: 16px;
    float: right;
}
  
.createSheetActions button {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
  
    font-weight: 600;
    font-size: 16px;
}
  
.createSheetActions button:first-child {
    background-color: var(--gray-200);
    color: var(--gray-700);
}
  
.createSheetActions button:first-child a {
    color: var(--gray-700);
}
  
.createSheetActions button:last-child {
    background-color: var(--red-600);
    color: var(--gray-200);
}

@media (max-width: 1540px) {
    .atributos, .status {
      width: 100%;
    }
  
    .atributosInputs div {
      width: 100%;
    }
  
    .atributosInputs div input, .statusInputs div input {
      max-width: 50%;
      width: 100%;
    }
  }
  
  @media (max-width: 1230px) {
    .sheetHeader {
      flex-direction: column;
    }
  }
  
@media (max-width: 1180px) {
    .sheetSideBySide {
      flex-direction: column;
      align-items: baseline;
      justify-content: baseline;
      height: fit-content;
    }
  
    .atributos {
      margin-top: 24px;
    }
  
    .status {
      margin: 0;
    }
  
    .atributos, .status, .equipamentos {
      min-width: 100%;
      width: 100%;
    }
}
.description {
    width: 100%;
  }
  
  .description textarea {
    height: 280px;
    width: 100%;
  }
  
  #description {
    margin-top: 8px;
  }
  
@media (max-width: 800px) {
    .sheet {
      margin: 8%;
      height: 100%;
    }
}

.totalAtk {
    background-repeat: no-repeat; 
    background-image: url('https://pbs.twimg.com/media/GMhkTItXoAAjZLi?format=png&name=360x360');
    height: auto;
    background-size: contain;
    background-position: center;
    height: 66px;
    width: 66px;
    text-align: center;
    align-items: center;
    margin-top: 170px;
    margin-left: -85px;
    position: absolute;
}

.atkText {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: var(--gray-200);
    text-shadow: 1px 1px 2px black;
    font-size: 20px; 
    text-align: center;
    padding: 20px 40px;
    border-radius: 50%;
    font-weight: bold;
}

.totalDef {
    background-repeat: no-repeat; 
    background-image: url('https://pbs.twimg.com/media/GMhqVlDWwAMqxyO?format=png&name=360x360');
    height: auto;
    background-size: contain;
    background-position: center;
    height: 66px;
    width: 66px;
    text-align: center;
    align-items: center;
    margin-top: 170px;
    margin-left: 70px;
    position: absolute;
}

.defText {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: var(--gray-200);
    text-shadow: 1px 1px 2px black;
    font-size: 20px; 
    text-align: center;
    padding: 20px 40px;
    border-radius: 50%;
    font-weight: bold;
}