.modal-create-campaign {
  background: rgba(0,0,0,0.8);
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: none;
  align-items: center;
  justify-content: center;
}

.modal-create-campaign.active {
  display: flex;
}

 .modal-create-campaign .modal {
  background-color: var(--white);
  padding: 24px;
  
  border-radius: 4px;
  width: 650px;
  min-height: 595px;
  height: fit-content;
}

.modal-create-campaign .modal form {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  gap: 40px;

  margin-top: 40px;
}

.modal-create-campaign .modal span {
  color: var(--red-600);
  display: flex;
  align-items: center;
  gap: 8px;

  margin-top: 8px;
}

.modal input, textarea {
  width: 100%;
  border: 2px solid var(--gray-200);
  border-radius: 4px;
  padding: 8px;
}

.modal input {
  height: 35px;
}

.modal textarea {
  resize: none;
}

.modal-create-campaing .modal label {
  display: block;
  margin-bottom: 8px;
  color: var(--gray-700);
}

.modal-create-campaing .modal h2 {
  color: var(--gray-800);
}

.modal-create-campaing .modal button {
  cursor: pointer;
}

.modal .actions {
  align-self: flex-end;
}

.modal .actions button {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  font-size: 16px;
}

.modal .actions button:first-child {
  background-color: var(--gray-300);
  color: var(--gray-700);
  margin-right: 16px;
}

.modal .actions button:first-child a {
  color: var(--gray-700);
}

.modal .actions button:last-child {
  background-color: var(--red-600);
  color: var(--gray-200);
} 

@media (max-width: 740px) {
  .modal-create-campaign .modal {
    margin: 0 5%;
    width: 100%;
  }
}