{% load static %}
<link rel="stylesheet" href="{% static 'css/dice.css' %}">


<div class="dice">
    <button class="diceButton">
        <i data-lucide="dices" width="32" height="32"></i>
    </button>
</div>

<section class="diceModal">
    <div class="modal">
        <button type="button" id="closeDice">
            <i data-lucide="x"></i>
        </button>
        <div class="container">
            <form id="formDice">
                {% csrf_token %}
                
                <div>
                    <h2>Quantidade de dados:</h2>
                    <input type="text" id="quantityDice" name="quantityDice" placeholder="Ex: 2 2" min="1">
                    <span class="error-message" id="quantityError"></span>
                </div>
                
                <div>
                    <h2>Tipo de dado:</h2>
                    <input type="text" id="typeDice" name="typeDice" placeholder="Ex: 6 20" min="1">
                    <span class="error-message" id="typeError"></span>
                </div>
                
                <div>
                    <h2>Modificador:</h2>
                    <input type="text" id="modDice" name="modDice" placeholder="Ex: -4">
                    <span class="error-message" id="modifierError"></span>
                </div>
                
                <div>
                    <button type="submit" class="rollButton">Rolar dados</button>
                </div>
                
                <div id="diceContainer" class="dice-container">
                </div>
            </form>
            <div>
                <div id="resultDisplay"><h1></h1></div>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'js/dice.js' %}"></script>