{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" type="text/css" href="{% static 'sheets_app/css/create-sheets.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'sheets_app/css/create-equipment.css' %}">
<link rel="shortcut icon" href="https://i.imgur.com/cwTGnjY.png" type="image/x-icon">
<title>Criar ficha</title>
{% endblock %}

{% block 'body' %}
<section class="equipmentModal">
    <div class="modal">
        <h2>Adicionar Equipamento</h2>
        <form>
            {%csrf_token%}
            <div class="equipmentName">
                <label for="name">Nome do equipamento:</label>
                <input type="text" name="name" value="{{equipmentName}}">
                {% for error in errors %}
                    {% if error.field == 'name'%}
                        <span> 
                            <i data-lucide="octagon-alert"></i>
                            {{ error.message }} 
                        </span>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="equipmentQuantity">
                <label for="quantity">Quantidade:</label>
                {%if quantity %}
                    <input type="number" name="quantity" value="{{quantity}}">
                {%else%}
                    <input type="number" name="quantity" value=1 >
                {% endif %}
                {% for error in errors %}
                    {% if error.field == 'quantity'%}
                        <span> 
                            <i data-lucide="octagon-alert"></i>
                            {{ error.message }} 
                        </span>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="sideBySide">
                <div class="equipmentAttack">
                    <label for="attack">Pontos de ataque:</label>
                    {% if attack%}
                        <input type="number" name="attack" value="{{attack}}">
                    {%else%}
                        <input type="number" name="attack" value=0>
                    {% endif %}
                    {% for error in errors %}
                        {% if error.field == 'attack'%}
                            <span> 
                                <i data-lucide="octagon-alert"></i>
                                {{ error.message }} 
                            </span>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="equipmentDefense">
                    <label for="defense">Pontos de defesa:</label>
                    {%if defense%}
                        <input type="number" name="defense" value="{{defense}}">
                    {%else%}
                        <input type="number" name="defense" value=0>
                    {% endif %}
                    {% for error in errors %}
                        {% if error.field == 'defense'%}
                            <span> 
                                <i data-lucide="octagon-alert"></i>
                                {{ error.message }} 
                            </span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <p>
                Se o seu item não influenciar nos pontos de Ataque e/ou Defesa 
                do personagem, deixe um 0 nos campos.
            </p>                

            <div class="actions">
                <button 
                    type="button"
                    id="closeEquipmentBtn" 
                >
                    Cancelar
                </button>
                <button 
                    type="button" 
                    id="addEquipmentBtn" 
                >
                    Criar
                </button>
            </div>
        </form>
    </div>
</section>

<section class="mainSheet">
    <section class="sheet">
        <form action="{% url 'sheets:create_sheets' %}" method="post" onsubmit="disableButton()">
            {% csrf_token %}
            <section class="sheetHeader">
                <div>
                    <label for="name">Nome: </label>
                    <input type="text" name="name" id="" value="{{name}}">
                    {% for error in errors %}
                    {% if error.field == 'name'%}
                        <span> 
                            <i data-lucide="octagon-alert"></i>
                            {{ error.message }} 
                        </span>
                    {% endif %}
                {% endfor %}

                </div>

                {% comment %} <label for="image">foto do personagem: </label>
                <input type="url" name="image"> {% endcomment %}

                <div>   
                    <label for="race">Raça do personagem: </label>
                    <input type="text" name="race" value="{{race}}">
                    {% for error in errors %}
                    {% if error.field == 'race'%}
                        <span> 
                            <i data-lucide="octagon-alert"></i>
                            {{ error.message }} 
                        </span>
                    {% endif %}
                {% endfor %}
                </div>

                <div>
                    <label for="role">Classe do personagem: </label>
                    <input type="text" name="role" id="role" value="{{role}}">
                    {% for error in errors %}
                    {% if error.field == 'role'%}
                        <span> 
                            <i data-lucide="octagon-alert"></i>
                            {{ error.message }} 
                        </span>
                    {% endif %}
                {% endfor %}
                </div>
            </section>

            <div class="sheetSideBySide">         
                <section class="atributos">
                    <div class="atributosInputs">
                        <div>
                            <label for="strength">Força: </label>
                            <input type="number" name="strength" id="strength" value="{{strength}}">
                        </div>
                        <div>
                            <label for="intelligence">Inteligencia: </label>
                            <input type="number" name="intelligence" id="intelligence" value="{{intelligence}}">
                        </div>
                        <div>
                            <label for="wisdom">Sabedoria: </label>
                            <input type="number" name="wisdom" id="wisdom" value="{{wisdom}}">
                        </div>
                        <div>
                            <label for="charisma">Carisma: </label>
                            <input type="number" name="charisma" id="charisma" value="{{charisma}}">
                        </div>
                        <div>
                            <label for="constitution">Contituição: </label>
                            <input type="number" name="constitution" id="constitution" value="{{constitution}}">
                        </div>
                        <div>
                            <label for="speed">Velocidade: </label>
                            <input type="number" name="speed" id="speed" value="{{speed}}">
                        </div>
                        {% for error in errors %}
                        {% if error.field == 'atributes1'%}
                        <span>
                            <i data-lucide="octagon-alert"></i>
                            {{ error.message }}
                        </span>
                        {% endif %}
                        {% endfor %}
                    </div>
                </section>
                
                <section class="status">
                    <div class="statusInputs">
                        <div>
                            <label for="healthPointMax">Vida: </label>
                            <input type="number" name="healthPointMax" id="healthPointMax" value="{{healthPointMax}}">
                        </div>
                
                        <div>
                            <label for="manaMax">Mana: </label>
                            <input type="number" name="manaMax" id="manaMax" value="{{manaMax}}">
                        </div>
                
                        <div>
                            <label for="exp">XP: </label>
                            <input type="number" name="exp" id="exp" value="{{exp}}">
                        </div>
                        {% for error in errors %}
                        {% if error.field == 'atributes2'%}
                        <span>
                            <i data-lucide="octagon-alert"></i>
                            {{ error.message }}
                        </span>
                        {% endif %}
                        {% endfor %}
                    </div>
                </section>

            </div>
            <div class="sheetSideBySide">
                
                <section class="equipamentos">
                    <p>Equipamentos</p>
                    <div class="add_equip_div">
                        <button type="button" class="openEquipmentBtn">
                            <i data-lucide="plus" width="32" height="32" stroke-width="1.5px"></i>
                        </button>
                    </div>
                </section>
                
                <section class="description">
                    <div class="description-area">
                        <label for="description">Descrição: </label>
                        <input type="text" name="description" id="description">
                    </div>
                    {% for error in errors %}
                        {% if error.field == 'description'%}
                            <span>
                                <i data-lucide="octagon-alert"></i>
                                {{ error.message }}
                            </span>
                        {% endif %}
                    {% endfor %}
                </section>

            </div>

            <div class="createSheetActions">
                <button type="button">
                    <a href="{% url 'sheets:homesheets' %}"> Cancelar</a>
                </button>
                <script>
                    function disableButton() {
                        var button = document.getElementById("submit_button");
                        button.disabled = true;
                    }
                </script>
                <button type="submit" id="submit_button">Criar</button>
            </div>
        </form>
    </section>
</section>
<script src="{% static 'sheets_app/js/equipment.js' %}" ></script>
{% endblock %}
