{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
    <link rel="stylesheet" type="text/css" href="{% static 'sheets_app/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sheets_app/css/choose-sheet.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'sheets_app/css/delete-sheet.css' %}">
    <link rel="shortcut icon" href="https://i.imgur.com/cwTGnjY.png" type="image/x-icon">
    <title>Suas Fichas - ForgeSheets</title>
{% endblock %}

{% block 'body' %}
<section class="chooseSheetModal">
    <div class="modal">
        <button type="button" id="closeChooseSheet">
            <i data-lucide="x"></i>
        </button>
        <div class="container">
            <div>
                <h2>Criar ficha em uma campanha</h2>
                <div>
                    <label for="code">Código da campanha</label>
                    <input type="text" name="code" placeholder="Insira o código">
                </div>
                <a href="#" type="button">
                    Criar ficha
                </a>
            </div>
            <div>
                <h2>Criar ficha independente</h2>
                <a href="{% url 'sheets:create_sheets' %}" type="button">
                    Criar ficha
                </a>
            </div>
        </div>
    </div>
</section>

{% for sheet in sheets_view %}
<section class="deleteSheetModal">
    <div class="modal">
        <button type="button" id="closeDeleteSheet">
            <i data-lucide="x"></i>
        </button>
        <div class="container">
            <div>
                <i data-lucide="triangle-alert" width="128" height="128" stroke-width="1.5px" color="#dc2626"></i>
                <h2>Você tem certeza que deseja excluir esta ficha? {{sheet.name}}</h2>
                <strong>Essa ação vai deletar a ficha permanentemente!</strong>
                <br>
                <form id="formDeleteSheet" method="POST" action="">
                    {% csrf_token %}
                    <button type="button" class="cancel">
                        Cancelar
                    </button>

                    <button type="submit" class="delete">
                            Excluir
                    </button>
                </form>

            </div>
        </div>
    </div>
</section> 
{%endfor%}

<section class="listSheetsContainer">
    <h1 class="title">Suas Fichas</h1>
    <section class="cardList">
        <button class="createSheet">
            <div>
                <i data-lucide="plus" width="64" height="64" stroke-width="1.5px"></i>
            </div>
        </button>

        {% for sheet in sheets_view%}
        <div id="Card" class="sheetCard" style="{% if sheet.image %}
        {% if sheet.hp == 0%}
        backdrop-filter: grayscale(1);
        {% endif %}
        background-image: url({{ sheet.image }});
        background-position: center;
        {% endif %}">

            <button type="button" class="deleteSheet" data-url="{% url 'sheets:delete_sheet' sheet.id %}">
                    <i data-lucide="ellipsis-vertical" width="24px" height="24px"></i>
            </button>

            <div id="Card" style="{% if sheet.image %}
            background-color: rgba(0,0,0,0.5);
            backdrop-filter: blur(2px);
            {% if sheet.hp == 0%}
            backdrop-filter: grayscale(1);
            {% endif %}
            {% endif %}">

                <a href="{% url 'sheets:edit_sheet' sheet.id %}" class="detailLink">
                    <h2>{{sheet.name}}</h2>
                    <div class="sheet_info">
                        <div class="sideBySide">
                            <p><b>Nível:</b></p>
                            {% if sheet.level == 20 %}
                                <p>{{sheet.level}} (Nível Max.)</p>
                            {% else %}
                                <p>{{sheet.level}} ({{sheet.exp}}/{{sheet.expMax}}xp)</p>
                            {% endif %}
                        </div>
                        <div class="sideBySide">
                            <p><b>Raça:</b></p>
                            <p>{{sheet.race}}</p>
                        </div>
                        <div class="sideBySide">
                            <p><b>Classe:</b></p>
                            <p>{{sheet.role}}</p>
                        </div>
                        <div class="bar">
                            <div class="background-bar"></div>
                            <div class="background-bar2"></div>
                            <span class="hp-bar" style="width: {{sheet.hp}}%"></span>
                            <span class="mana-bar" style="width: {{sheet.mana}}%"></span>
                        </div>                        
                    </div>
                </a>
            </div>
        </div>
       
        {% endfor %}
    </section>
</section>

{% include "dice.html" %}

<script src="{% static 'sheets_app/js/sheet.js' %}"></script>
<script src="{% static 'sheets_app/js/delete.js' %}"></script>
{% endblock %}