{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
  {% block 'head' %}{% endblock %}

  <title>{% block 'title' %}{% endblock %}</title>
</head>
<body>
  <main>
    <nav>
      <img src="https://i.imgur.com/cwTGnjY.png" alt="Logo ForgeSheets">
      <ul>
        <li class="sheets {% if app_name == 'sheets' %}active{% endif %}">
          <a href="{% url 'sheets:homesheets' %}">
            <i data-lucide="book-open"></i>
            Fichas
          </a>
        </li>
        <li class="campaign {% if app_name == 'campaign' %}active{% endif %}">
         <a href="{% url 'campaigns:campaign' %}">
          <i data-lucide="folder"></i>
          Campanhas
         </a>
        </li>
      </ul>
      <form action="{% url 'utilities:sign' %}" method='POST'>
        {% csrf_token %}
        <input type="hidden" name="logout">
        <button type="submit"> 
          <i data-lucide="log-out"></i>
        </button>
      </form>
    </nav>
    {% block 'body' %}{% endblock %}
  </main>
  <!-- Development version -->
  <script src="https://unpkg.com/lucide@latest/dist/umd/lucide.js"></script>
  <!-- Production version -->
  <script src="https://unpkg.com/lucide@latest"></script>
  <script src="{% static 'js/script.js' %}"></script>   
</body>
</html>