{% extends "./base.html" %}
{% load static %}

{% block 'head' %}
  <link rel="stylesheet" type="text/css" href="{% static 'utilities_app/css/login.css' %}">
  <link rel="shortcut icon" href="https://i.imgur.com/cwTGnjY.png" type="image/x-icon">
{% endblock %}

{% block 'title' %}
  ForgeSheets
{% endblock %}

{% block 'body' %}
  <main>
    <section id="login">
      <section class="left">
      </section>
      <section class="right">
        <img src="https://i.imgur.com/8vp9bCa_d.webp?maxwidth=760&fidelity=grand" alt="Logo ForgeSheets">
        <h3>Acesse sua conta</h3>
        
        <form action="{% url 'utilities:sign' %}" method="POST">
          {% csrf_token %}
          <label for="user">Usuário: </label>
          <input type="text" id="user" name="user">
          <label for="password">Senha: </label>
          <input type="password" id="password" name="password">
          <input type="hidden" name="login">
          <button type="submit">ENTRAR</button>
          <p>Ainda não tem uma conta? <span class="registerAnchor">Clique aqui</span> para cadastrar-se</p>
        </form>
      </section>
    </section>

    <section id="register">
      <section class="left">
      </section>
      <section class="right">
        <img src="https://i.imgur.com/8vp9bCa_d.webp?maxwidth=760&fidelity=grand" alt="Logo ForgeSheets">
        <h3>Cadastre-se</h3>
        
        <form action="{% url 'utilities:sign' %}" method="POST">
          {% csrf_token %}
          <label for="user">Usuário: </label>
          <input type="text" id="user" name="user">
          <label for="email">E-mail: </label>
          <input type="email" id="email" name="email">
          <label for="password">Senha: </label>
          <input type="password" id="password" name="password">
          <input type="hidden" name="login">
          <button type="submit">CADASTRAR</button>
          <p>Já tem uma conta? <span class="loginAnchor">Clique aqui</span> para fazer login</p>
        </form>
      </section>
    </section>
  </main>
  <script src="{% static 'utilities_app/js/script.js' %}"></script>   
{% endblock %}