<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for message in messages %}
    
        <p style="color: red;">{{message}}</p>

    {% endfor %}
    <form action="{% url 'sheets:edit_equipment' equipment.id %}" method="POST">
        {% csrf_token %}
        <label for="name">Nome:</label>
        <input type="text" name="name" value="{{equipment.name}}" value="{{name}}">
        <label for="quantity">Quantidade:</label>
        <input type="number" name="quantity" value="{{equipment.quantity}}" value="{{quantity}}">
        <label for="attack">Pontos de ataque:</label>
        <input type="number" name="attack" value="{{equipment.attack}}" value="{{attack}}">
        <label for="defense">Pontos de defesa:</label>
        <input type="number" name="defense" value="{{equipment.defense}}" value="{{defense}}">
        <input type="submit" value="Editar">
    </form>
</body>
</html>