@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat'
}

:root {
  --red-600: #DC2626;
  --red-700: #b91c1c;
  --green-500: #22c55e;
  --white: #f7f7f7;
  --gray-200: #e5e7eb;
  --gray-800: #1f2937;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

body {
  overflow: hidden;
}

button {
  cursor: pointer;
  border: none;
}

button:hover {
  transition: all .3s;
}

input {
  border: none;
  padding: 8px;
}

a {
  text-decoration: none;
}

main {
  min-height: 100vh;
  height: 100%;
  width: 100vw;

  position: relative;
}

#login {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  height: 100%;
  max-width: 100vw;
  width: 100%;
  /* background-image: url('https://pbs.twimg.com/media/GKBB7s4WAAAA2FQ?format=jpg&name=large');
  background-size: cover;
  background-repeat: no-repeat; */
} 

#backLogin, #backRegister {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#register {
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  height: 100%;
  max-width: 100vw;
  width: 100%;
  position: absolute;
  top: 0;
  background-image: url('https://pbs.twimg.com/media/GJraM6fWAAELGCm?format=jpg&name=large');
  background-size: cover;
  background-repeat: no-repeat;
  visibility: hidden;
}

.right {
  background-color: rgba(105, 105, 105, 0.20);
  backdrop-filter: blur(4px);
  color: var(--white);
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;

  width: 40%;
  min-height: 100vh;
  height: 100%;
  padding: 5%;
}

.right img {
  width: 60%;
  margin: 0 0 10%;
  align-self: center;
}

.right h3 {
  font-size: 20px;
  margin-bottom: 24px;
}

.right label {
  display: block;
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 14px;
}

.right input,
.right button {
  width: 100%;
  height: 36px;
  border-radius: 4px;
}

.right input {
  background-color: var(--white);
}

.right button {
  margin-top: 24px;
  background-color: var(--red-600);
  color: var(--white);
  font-weight: 700;
}

.right button:hover {
  background-color: var(--red-700);
}

.right p {
  text-align: center;
  margin-top: 24px;
  font-weight: 500;
  font-size: 14px;
}

.right p span {
  color: var(--red-600);
  cursor: pointer;
}

.right p span:hover {
  text-decoration: underline;
  filter: brightness(1.2);
}

.footerzinho {
  font-weight: bold;
}

.toast {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;

  background-color: var(--white);
  color: var(--gray-800);

  animation: slideInLeft ease .5s, fadeOut linear 1s .5s forwards;
}

.success {
  border-left: 4px solid var(--green-500);
}

.success>svg {
  color: var(--green-500);
}

.error {
  border-left: 4px solid var(--red-600);
}

.error>svg {
  color: var(--red-600);
}


@media (max-width: 990px) {
  .left {
    width: 0;
  }

  .right {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(12px);
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(15%);
    visibility: hidden;
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-15%);
    visibility: hidden;
  }
  to {
    transform: translateX(0);
  }
}

@keyframes scale {
  from {
    transform: scale(1.1);
    transition: all;
  }
  to {
    transform: scale(1);
    transition: all;
  }
}


#loginzao.active {
  animation: slideFromRight 0.6s forwards;
}


#loginzinho.active{
  animation: slideFromRight 0.5s forwards;
}

#cadastrinho.active{
  animation: slideFromLeft 0.5s forwards;
}

#backLogin.active {
  animation: scale 0.7s;
}

#backRegister.active {
  animation: scale 0.7s;
}